<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.toastgoand">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ToastgoApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:process=":screensharingsvc"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToastgoandN"
        tools:replace="android:appComponentFactory">
        <activity
            android:name=".home.clantalk.camera.CameraActivity"
            android:exported="true" />
        <activity
            android:name=".home.otherprofile.OtherProfileActivity"
            android:exported="true" />
        <activity
            android:name=".home.invitepeopledirectly.InvitePeopleDirectlyActivity"
            android:exported="true" />
        <activity
            android:name=".home.viewoldframe.ViewOldFrameActivity"
            android:exported="true" />
        <activity
            android:name=".home.startclan.StartClanActivity"
            android:exported="true" />
        <activity
            android:name=".home.myprofile.MyProfileActivity"
            android:exported="true" />
        <activity
            android:name=".home.aye.TheAyeActivity"
            android:exported="true" />
        <activity
            android:name=".home.directtalk.DirectTalkActivity"
            android:exported="true" />
        <activity
            android:name=".home.directframes.DirectFramesActivity"
            android:exported="true" />
        <activity
            android:name=".home.clantalk.ClanTalkActivity"
            android:exported="true" />
        <activity
            android:name=".home.clanframes.ClanFramesActivity"
            android:exported="true" />
        <activity
            android:name=".home.directhub.DirectHubActivity"
            android:exported="true" />
        <activity
            android:name=".home.clanhub.ClanHubActivity"
            android:exported="true" />
        <activity
            android:name=".auth.clancreate.ClanCreatedActivity"
            android:exported="true" />
        <activity
            android:name=".auth.clancreate.NameClanActivity"
            android:exported="true" />
        <activity
            android:name=".auth.clancreate.CreateClanActivity"
            android:exported="true" />
        <activity
            android:name=".auth.strangerintro.StrangerIntroActivity"
            android:exported="true" />
        <activity
            android:name=".auth.invitedby.InvitedByActivity"
            android:exported="true" />
        <activity
            android:name=".auth.settingup.SettingUpActivity"
            android:exported="true" />
        <activity
            android:name=".auth.otpsignup.OtpSignupActivity"
            android:exported="true" />
        <activity
            android:name=".auth.detailssignup.DetailsSignupActivity"
            android:exported="true" />
        <activity
            android:name=".auth.otplogin.OtpLoginActivity"
            android:exported="true" />
        <activity
            android:name=".auth.enterphone.EnterPhoneActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".auth.welcome.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".quick.QuickActivity"
            android:exported="true" />
        <activity
            android:name=".home.LandingActivity"
            android:exported="true" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.LoginActivity" />
        <activity
            android:name=".quick.callactivity.impl.ScreenCapture$ScreenCaptureAssistantActivity"
            android:process=":screensharingsvc"
            android:screenOrientation="fullUser"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:name=".quick.callactivity.impl.ScreenSharingService"
            android:foregroundServiceType="mediaProjection"
            android:process=":screensharingsvc">
            <intent-filter>
                <action android:name="android.intent.action.screenshare" />
            </intent-filter>
        </service>
    </application>

</manifest>